WebApplication2/.vs/WebApplication2/v16/.suo
WebApplication2/.vs/WebApplication2/v16/.suo
/bin/
WebApplication2/Models/bin/
WebApplication2/Models/obj/
WebApplication2/Model/obj/*
WebApplication2/Models/obj/Debug/Models.dll
WebApplication2/Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/Models/obj/Debug/Models.csproj.CopyComplete
WebApplication2/Models/obj/Debug/Models.csproj.CoreCompileInputs.cache
WebApplication2/Models/obj/Debug/Models.csproj.FileListAbsolute.txt
WebApplication2/Models/obj/Debug/Models.csprojAssemblyReference.cache
WebApplication2/Models/obj/Debug/Models.dll
WebApplication2/Models/obj/Debug/Models.pdb
WebApplication2/WebApplication2/bin/Models.dll
WebApplication2/Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/Models/obj/Debug/Models.csproj.CoreCompileInputs.cache
WebApplication2/Models/obj/Debug/Models.csproj.FileListAbsolute.txt
WebApplication2/WebApplication2/bin/Antlr3.Runtime.dll
WebApplication2/WebApplication2/bin/Antlr3.Runtime.pdb
WebApplication2/WebApplication2/bin/EntityFramework.dll
WebApplication2/WebApplication2/bin/EntityFramework.SqlServer.dll
WebApplication2/WebApplication2/bin/EntityFramework.SqlServer.xml
WebApplication2/WebApplication2/bin/EntityFramework.xml
WebApplication2/WebApplication2/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WebApplication2/WebApplication2/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WebApplication2/WebApplication2/bin/Microsoft.Web.Infrastructure.dll
WebApplication2/WebApplication2/bin/Models.dll.config
WebApplication2/WebApplication2/bin/Models.pdb
WebApplication2/WebApplication2/bin/Newtonsoft.Json.dll
WebApplication2/WebApplication2/bin/Newtonsoft.Json.xml
WebApplication2/WebApplication2/bin/roslyn/csc.exe
WebApplication2/WebApplication2/bin/roslyn/csc.exe.config
WebApplication2/WebApplication2/bin/roslyn/csc.rsp
WebApplication2/WebApplication2/bin/roslyn/csi.exe
WebApplication2/WebApplication2/bin/roslyn/csi.exe.config
WebApplication2/WebApplication2/bin/roslyn/csi.rsp
WebApplication2/WebApplication2/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WebApplication2/WebApplication2/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WebApplication2/WebApplication2/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
WebApplication2/WebApplication2/bin/roslyn/Microsoft.CodeAnalysis.dll
WebApplication2/WebApplication2/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
WebApplication2/WebApplication2/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
WebApplication2/WebApplication2/bin/roslyn/Microsoft.CSharp.Core.targets
WebApplication2/WebApplication2/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
WebApplication2/WebApplication2/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
WebApplication2/WebApplication2/bin/roslyn/Microsoft.Managed.Core.targets
WebApplication2/WebApplication2/bin/roslyn/Microsoft.VisualBasic.Core.targets
WebApplication2/WebApplication2/bin/roslyn/Microsoft.Win32.Primitives.dll
WebApplication2/WebApplication2/bin/roslyn/System.AppContext.dll
WebApplication2/WebApplication2/bin/roslyn/System.Collections.Immutable.dll
WebApplication2/WebApplication2/bin/roslyn/System.Console.dll
WebApplication2/WebApplication2/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
WebApplication2/WebApplication2/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
WebApplication2/WebApplication2/bin/roslyn/System.Diagnostics.StackTrace.dll
WebApplication2/WebApplication2/bin/roslyn/System.Globalization.Calendars.dll
WebApplication2/WebApplication2/bin/roslyn/System.IO.Compression.dll
WebApplication2/WebApplication2/bin/roslyn/System.IO.Compression.ZipFile.dll
WebApplication2/WebApplication2/bin/roslyn/System.IO.FileSystem.dll
WebApplication2/WebApplication2/bin/roslyn/System.IO.FileSystem.Primitives.dll
WebApplication2/WebApplication2/bin/roslyn/System.Net.Http.dll
WebApplication2/WebApplication2/bin/roslyn/System.Net.Sockets.dll
WebApplication2/WebApplication2/bin/roslyn/System.Reflection.Metadata.dll
WebApplication2/WebApplication2/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
WebApplication2/WebApplication2/bin/roslyn/System.Security.Cryptography.Algorithms.dll
WebApplication2/WebApplication2/bin/roslyn/System.Security.Cryptography.Encoding.dll
WebApplication2/WebApplication2/bin/roslyn/System.Security.Cryptography.Primitives.dll
WebApplication2/WebApplication2/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
WebApplication2/WebApplication2/bin/roslyn/System.Text.Encoding.CodePages.dll
WebApplication2/WebApplication2/bin/roslyn/System.Threading.Tasks.Extensions.dll
WebApplication2/WebApplication2/bin/roslyn/System.ValueTuple.dll
WebApplication2/WebApplication2/bin/roslyn/System.Xml.ReaderWriter.dll
WebApplication2/WebApplication2/bin/roslyn/System.Xml.XmlDocument.dll
WebApplication2/WebApplication2/bin/roslyn/System.Xml.XPath.dll
WebApplication2/WebApplication2/bin/roslyn/System.Xml.XPath.XDocument.dll
WebApplication2/WebApplication2/bin/roslyn/vbc.exe
WebApplication2/WebApplication2/bin/roslyn/vbc.exe.config
WebApplication2/WebApplication2/bin/roslyn/vbc.rsp
WebApplication2/WebApplication2/bin/roslyn/VBCSCompiler.exe
WebApplication2/WebApplication2/bin/roslyn/VBCSCompiler.exe.config
WebApplication2/WebApplication2/bin/System.Web.Helpers.dll
WebApplication2/WebApplication2/bin/System.Web.Helpers.xml
WebApplication2/WebApplication2/bin/System.Web.Mvc.dll
WebApplication2/WebApplication2/bin/System.Web.Mvc.xml
WebApplication2/WebApplication2/bin/System.Web.Optimization.dll
WebApplication2/WebApplication2/bin/System.Web.Optimization.xml
WebApplication2/WebApplication2/bin/System.Web.Razor.dll
WebApplication2/WebApplication2/bin/System.Web.Razor.xml
WebApplication2/WebApplication2/bin/System.Web.WebPages.Deployment.dll
WebApplication2/WebApplication2/bin/System.Web.WebPages.Deployment.xml
WebApplication2/WebApplication2/bin/System.Web.WebPages.dll
WebApplication2/WebApplication2/bin/System.Web.WebPages.Razor.dll
WebApplication2/WebApplication2/bin/System.Web.WebPages.Razor.xml
WebApplication2/WebApplication2/bin/System.Web.WebPages.xml
WebApplication2/WebApplication2/bin/WebApplication2.dll
WebApplication2/WebApplication2/bin/WebApplication2.dll.config
WebApplication2/WebApplication2/bin/WebApplication2.pdb
WebApplication2/WebApplication2/bin/WebGrease.dll
WebApplication2/WebApplication2/obj/Debug/WebApplication2.csproj.CopyComplete
WebApplication2/WebApplication2/obj/Debug/WebApplication2.csproj.FileListAbsolute.txt
WebApplication2/WebApplication2/obj/Debug/WebApplication2.csprojAssemblyReference.cache
WebApplication2/WebApplication2/obj/Debug/WebApplication2.dll
WebApplication2/WebApplication2/obj/Debug/WebApplication2.pdb
WebApplication2/Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication2/Models/obj/Debug/Models.csproj.CoreCompileInputs.cache
WebApplication2/Models/obj/Debug/Models.csproj.FileListAbsolute.txt
WebApplication2/WebApplication2/obj/Debug/WebApplication2.csproj.FileListAbsolute.txt
