WebApplication2/Models/bin/
WebApplication2/Models/obj/
WebApplication2/Model/bin/
WebApplication2/Model/obj/
WebApplication2/WebApplication2/bin/
WebApplication2/WebApplication2/obj/
WebApplication2/.vs/WebApplication2/v16/.suo
WebApplication2/WebApplication2/WebApplication2.csproj.user
WebApplication2/WebApplication2/WebApplication2.csproj.user
WebApplication2/WebApplication2/obj/Debug/WebApplication2.csproj.CoreCompileInputs.cache
WebApplication2/Models/obj/Debug/Models.csproj.CoreCompileInputs.cache
*.cache
ASP.NET MVC - #9_ Insert dữ liệu với Store Procedure _ Insert Data with store procedure  _ TEDU.mp4
OnlineShop/OnlineShop/OnlineShop/obj/
OnlineShop/OnlineShop/OnlineShop/bin/
OnlineShop/OnlineShop/Model/bin/
OnlineShop/OnlineShop/Model/obj/
