@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script>
        $(document).ready(function () {
            $('#btn01').on('click', function () {
                var url = "/File/file01.xml";
                var data2;
                //$('#ret').load(url, function (data, status, jqXHR) {
                    
                //});
                data2 = {
                    "Name": "Hainguyen",
                    "Age":13

                }
                //url = "/File/file01.xml";
                //$.get(url,data2,function (data,status, jqXHR) {
                //    console.log(data);
                //    console.log($(data).find("Name"));
                //    var txt = $(data).find("Email").each(function (i, e) {
                //        console.log(i);
                //        console.log($(e).text());
                //    })
                //},'xml');

                url = "/File/file02.txt";
                $.get(url,data2,function (data,status, jqXHR) {
                    console.log(data);
                    console.log($.parseJSON(data));
                    $.parseJSON(data).each(function (i, e) {
                        $('#btn').html(i+":"+e+"<br\>");
                    })
                });
            })
        });
    </script>
}
<button id="btnload">Execute_Load</button>
<button id="btn01">Execute</button>
<p id="ret"></p>